<a href="https://colab.research.google.com/github/Geringer13/Netology_pyda/blob/master/21_Python_Feature_engineering_%D0%BB%D0%B5%D0%BA%D1%86%D0%B8%D1%8F_1_Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

Создадим датасет с данными по продвижению препаратов фармацевтическими компаниями. Основыные каналы продвижения и факторы влияющие на продажи: визиты к врачам и аптеки, реклама, цена, дистрибьюция.

In [4]:
# Лишним столбцом будет количество врачей в стране, в бизнесе их количество практически никак не влияет на продажи. От того, что их 4000 или 5000 существенной разницы нет, потому
# как фармацевтические компании задействуют иные каналы для продвижения, работа с аптеками, реклама, диджитал. В любом случае покрыты будут большинство врачей и нет разницы какое
# их количество. Поэтому зачастую чем больше визитов к врачам и в аптеки совершают компании и тратят на рекламу тем выше продажи.
n_samples = 300

visits = np.random.choice(50, n_samples)
advertising = np.random.choice(300, n_samples)
number_of_doctors = np.random.choice(100, n_samples)

sales = visits * advertising * 100

data = pd.DataFrame({'number_of_doctors': number_of_doctors, 'visits': visits, 'advertising': advertising, 'sales': sales})
data.head()

   number_of_doctors  visits  advertising   sales
0                 23      44          190  836000
1                 63       2          166   33200
2                 94      45           78  351000
3                  6      29          189  548100
4                 95      15          275  412500

In [5]:
from sklearn.metrics import mean_absolute_error

X = data[['number_of_doctors', 'visits', 'advertising']]
y = data['sales']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['number_of_doctors', 'visits', 'advertising']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [   47.81584152 15714.59968621  2447.26067137]
Bias: -391271.4137186959
Error: 96168.5165423173

In [6]:
from sklearn.metrics import mean_absolute_error

X = data[[ 'visits', 'advertising']]
y = data['sales']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['visits', 'advertising']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [15709.8744931   2445.64361279]
Bias: -388607.84573195194
Error: 96062.97664940884

Добавим новый показатель затраты фармкомпаний, логично предположить чем больше компания инвестирует в грамотное продвижение, тем выше продажи. У нас есть траты на рекламу, и есть количество визитов, средняя стоимость одного визита 500, теперь мы легко сможем посчитать сколько каждая компания тратит денег на промоцию.

In [15]:
# Если не умножать количество визитов на их стоимость 500, то всё работает хорошо, и ошибка минимальная.
data['costs'] = data['visits'] * data['advertising']
data.head()

   number_of_doctors  visits  advertising   sales  costs
0                 23      44          190  836000   8360
1                 63       2          166   33200    332
2                 94      45           78  351000   3510
3                  6      29          189  548100   5481
4                 95      15          275  412500   4125

In [16]:
X = data[['costs']]
y = data['sales']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['costs']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [100.]
Bias: 0.0
Error: 5.96022194561859e-11

In [17]:
# Но если умножить то ошибка почему-то становится еще больше.
data['costs'] = data['visits'] * 500 + data['advertising']
data.head()

   number_of_doctors  visits  advertising   sales  costs
0                 23      44          190  836000  22190
1                 63       2          166   33200   1166
2                 94      45           78  351000  22578
3                  6      29          189  548100  14689
4                 95      15          275  412500   7775

In [18]:
X = data[['costs']]
y = data['sales']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['costs']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [30.72437597]
Bias: -281.62233925494365
Error: 181639.4832392757