<a href="https://colab.research.google.com/github/Geringer13/Netology_pyda/blob/master/Diploma_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
from scipy.stats import t
from scipy.stats import norm
import matplotlib.pyplot as plt
from scipy import stats
import pandas as pd
import io
import requests
import seaborn as sns
sns.set_style('darkgrid')
from scipy.stats import pearsonr
%matplotlib inline

2. Рассчитать основные статистики для переменных (среднее,медиана,мода,мин/макс,сред.отклонение).
3.Рассчитать и визуализировать корреляционную матрицу для переменных.
4.Визуализировать несколько взаимосвязей между переменными.
5.С использованием t-test статистики проверить взаимосвязи между несколькими переменными.
6.Рассчитать сколько работников работает в каждом департаменте.
7.Показать распределение сотрудников по зарплатам.
8.Показать распределение сотрудников по зарплатам совместно с департаментами.
9.Сколько сотрудников покинули компанию.
10.Проверить несколько гипотез для данных, чтобы понять почему сотрудники покидают компанию.

In [0]:
data = pd.read_csv('HR.csv')

In [151]:
data.head()

   satisfaction_level  last_evaluation  ...  sales  salary
0                0.38             0.53  ...  sales       1
1                0.80             0.86  ...  sales       2
2                0.11             0.88  ...  sales       2
3                0.72             0.87  ...  sales       1
4                0.37             0.52  ...  sales       1

[5 rows x 10 columns]

Рассчитать основные статистики для переменных (среднее,медиана,мода,мин/макс,cред.отклонение).

Для начала переведём значение столбца salary в числа (1 - low, 2 - medium, 3 - high)

In [0]:
level_map = {'high':3 , 'medium':2 , 'low':1 }
data['salary'] = data['salary'].map(level_map)

In [120]:
data['sales'].value_counts()

sales          4140
technical      2720
support        2229
IT             1227
product_mng     902
marketing       858
RandD           787
accounting      767
hr              739
management      630
Name: sales, dtype: int64

In [0]:
level_map_2 = {'high':3 , 'medium':2 , 'low':1,'high':3 , 'medium':2 , 'low':1, 'high':3 , 'medium':2 , 'low':1,'high':3 , 'medium':2  }
data['salary'] = data['salary'].map(level_map)

In [121]:
data.describe()

       satisfaction_level  last_evaluation  ...  promotion_last_5years        salary
count        14999.000000     14999.000000  ...           14999.000000  14999.000000
mean             0.612834         0.716102  ...               0.021268      1.594706
std              0.248631         0.171169  ...               0.144281      0.637183
min              0.090000         0.360000  ...               0.000000      1.000000
25%              0.440000         0.560000  ...               0.000000      1.000000
50%              0.640000         0.720000  ...               0.000000      2.000000
75%              0.820000         0.870000  ...               0.000000      2.000000
max              1.000000         1.000000  ...               1.000000      3.000000

[8 rows x 9 columns]

Мода

In [0]:
number_list = {}

for i in data['satisfaction_level']:
  if i not in number_list:
    number_list[i] = 1
  else:
    number_list[i] += 1

In [27]:
max = 0
number = None

for k, v in number_list.items():
    if max < v:
      max = v
      number = k
print('Moda: ', number, 'Count: ', max )

Moda:  0.1 Count:  358

In [28]:
len(data)

14999

In [0]:
number_list = {}

for i in data['last_evaluation']:
  if i not in number_list:
    number_list[i] = 1
  else:
    number_list[i] += 1

In [34]:
max = 0
number = None

for k, v in number_list.items():
  # print(k,v)
    if max < v:
      max = v
      number = k
print('Moda: ', number, 'Count: ', max)

Moda:  0.55 Count:  358

In [0]:
number_list = {}

for i in data['number_project']:
  if i not in number_list:
    number_list[i] = 1
  else:
    number_list[i] += 1

In [36]:
max = 0
number = None

for k, v in number_list.items():
    if max < v:
      max = v
      number = k
print('Moda: ', number, 'Count: ', max)

Moda:  4 Count:  4365

In [0]:
number_list = {}

for i in data['average_montly_hours']:
  if i not in number_list:
    number_list[i] = 1
  else:
    number_list[i] += 1

In [38]:
max = 0
number = None

for k, v in number_list.items():
    if max < v:
      max = v
      number = k
print('Moda: ', number, 'Count: ', max)

Moda:  135 Count:  153

In [0]:
number_list = {}

for i in data['time_spend_company']:
  if i not in number_list:
    number_list[i] = 1
  else:
    number_list[i] += 1

In [40]:
max = 0
number = None

for k, v in number_list.items():
    if max < v:
      max = v
      number = k
print('Moda: ', number, 'Count: ', max)

Moda:  3 Count:  6443

In [0]:
number_list = {}

for i in data['Work_accident']:
  if i not in number_list:
    number_list[i] = 1
  else:
    number_list[i] += 1

In [42]:
max = 0
number = None

for k, v in number_list.items():
    if max < v:
      max = v
      number = k
print('Moda: ', number, 'Count: ', max)

Moda:  0 Count:  12830

In [0]:
number_list = {}

for i in data['left']:
  if i not in number_list:
    number_list[i] = 1
  else:
    number_list[i] += 1

In [44]:
max = 0
number = None

for k, v in number_list.items():
    if max < v:
      max = v
      number = k
print('Moda: ', number, 'Count: ', max)

Moda:  0 Count:  11428

In [0]:
number_list = {}

for i in data['promotion_last_5years']:
  if i not in number_list:
    number_list[i] = 1
  else:
    number_list[i] += 1

In [46]:
max = 0
number = None

for k, v in number_list.items():
    if max < v:
      max = v
      number = k
print('Moda: ', number, 'Count: ', max)

Moda:  0 Count:  14680

Судя по всему много не удовлетворённых сотрудников, так как значение моды satisfaction_level и last_evaluation по 0.1 и всречаемость самая частая, а также низкий уровень зарплаты так же самый низкий

In [0]:
number_list = {}

for i in data['salary']:
  if i not in number_list:
    number_list[i] = 1
  else:
    number_list[i] += 1

In [123]:
max = 0
number = None

for k, v in number_list.items():
    if max < v:
      max = v
      number = k
print('Moda: ', number, 'Count: ', max)

Moda:  1 Count:  7316

Давайте сделаем группировку по отделам и проанализируем различные метрики. Мы видим, что самый не удовлетворённый отдел accounting, а самый удовлетворённый management. Самая высокая зарплата у management, самая низкая у support.

In [144]:
gb_sales = data.groupby(data['sales']).mean()
gb_sales

             satisfaction_level  ...    salary
sales                            ...
IT                     0.618142  ...  1.571312
RandD                  0.619822  ...  1.602287
accounting             0.582151  ...  1.629726
hr                     0.598809  ...  1.607578
management             0.621349  ...  2.071429
marketing              0.618601  ...  1.624709
product_mng            0.619634  ...  1.575388
sales                  0.614447  ...  1.557971
support                0.618300  ...  1.549125
technical              0.607897  ...  1.569485

[10 rows x 9 columns]

In [145]:
data.head()

   satisfaction_level  last_evaluation  ...  sales  salary
0                0.38             0.53  ...  sales       1
1                0.80             0.86  ...  sales       2
2                0.11             0.88  ...  sales       2
3                0.72             0.87  ...  sales       1
4                0.37             0.52  ...  sales       1

[5 rows x 10 columns]