<a href="https://colab.research.google.com/github/Geringer13/Netology_pyda/blob/master/Machine_learning_Homework_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

0. Обозначаем корень дерева
1.Находим максимальный Gain (вспоминаем лекцию) для каждого признака.
2.Из полученных Gain’ов признаков выбираем максимальный, и таким образом определяется узел дерева.
3.Далее следуем по левому и правому разбиению, и выполняем пункты 1-3 до тех пор, пока Gain не станет равным 0. В этом случае, мы определяем лист дерева (то есть, возвращаемый ответ)

In [0]:
import pandas as pd
import numpy as np
from collections import Counter

In [0]:
data = pd.read_csv('aac_shelter_outcomes.csv')

In [28]:
data.head()

  age_upon_outcome animal_id  ... outcome_type sex_upon_outcome
0          2 weeks   A684346  ...     Transfer      Intact Male
1           1 year   A666430  ...     Transfer    Spayed Female
2           1 year   A675708  ...     Adoption    Neutered Male
3          9 years   A680386  ...     Transfer    Neutered Male
4         5 months   A683115  ...   Euthanasia          Unknown

[5 rows x 12 columns]

In [0]:
data = data.fillna('unknown')

In [28]:
len(data)

78256

In [0]:
data = data[:100]

In [14]:
Counter(data)

Counter({'age_upon_outcome': 1,
         'animal_id': 1,
         'animal_type': 1,
         'breed': 1,
         'color': 1,
         'date_of_birth': 1,
         'datetime': 1,
         'monthyear': 1,
         'name': 1,
         'outcome_subtype': 1,
         'outcome_type': 1,
         'sex_upon_outcome': 1})

In [0]:
def HEntropy(l):
    length = len(l)
    cnt = Counter(l)
    
    ent = 0
    for cl in cnt.values():
        p = cl / length
        l2 = np.log2(p)
        it = -p * l2
        ent += it
    
    return ent

In [16]:
HEntropy(data)

0.7972627427729667

In [17]:
HEntropy(data['age_upon_outcome'])

3.9040125617909625

In [14]:
HEntropy(data['animal_type'])

1.2590824350392555

In [15]:
HEntropy(data['breed'])

5.757093540044606

In [16]:
HEntropy(data['color'])

5.7374826075977365

In [17]:
HEntropy(data['name'])

9.514150704421482

In [18]:
HEntropy(data['outcome_subtype'])

2.017770867430251

In [19]:
HEntropy(data['outcome_type'])

1.9002931792978204

In [20]:
HEntropy(data['sex_upon_outcome'])

2.0896532063606212

In [0]:
def IG(H, l, i):
    left_l = l[:i]
    right_l = l[i:]
    return H(l) - (len(left_l) / len(l)) * H(left_l) - (len(right_l) / len(l)) * H(right_l)

In [0]:
def test_H(H, l):
    print("{:5} {:3}   {:4} {:4} {:4}".format("#","l","IG","Hl","Hr"))
    print("-"*24)
    for i in range(1,len(l)):
        print("{:2}. {:3}   {:.2f} {:.2f} {:.2f}".format(i, l[i], IG(H, l, i), H(l[:i]), H(l[i:])))

In [29]:
test_H(HEntropy, data['sex_upon_outcome'])

#     l     IG   Hl   Hr
------------------------
 1. Spayed Female   0.03 0.00 2.11
 2. Neutered Male   0.03 1.00 2.11
 3. Neutered Male   0.02 1.58 2.12
 4. Unknown   0.02 1.50 2.12
 5. Intact Male   0.02 1.92 2.11
 6. Unknown   0.03 1.92 2.10
 7. Spayed Female   0.04 1.95 2.09
 8. Intact Female   0.04 2.00 2.09
 9. Spayed Female   0.02 2.28 2.08
10. Spayed Female   0.02 2.25 2.09
11. Neutered Male   0.02 2.19 2.09
12. Neutered Male   0.01 2.19 2.10
13. Spayed Female   0.01 2.16 2.11
14. Neutered Male   0.01 2.12 2.11
15. Neutered Male   0.01 2.09 2.12
16. Neutered Male   0.01 2.06 2.12
17. Intact Male   0.01 2.01 2.13
18. Spayed Female   0.02 2.06 2.11
19. Spayed Female   0.02 2.04 2.12
20. Unknown   0.02 2.02 2.13
21. Neutered Male   0.02 2.07 2.11
22. Spayed Female   0.02 2.04 2.12
23. Neutered Male   0.02 2.02 2.13
24. Neutered Male   0.02 2.00 2.13
25. Spayed Female   0.02 1.97 2.14
26. Intact Female   0.02 1.96 2.15
27. Spayed Female   0.01 2.04 2.14
28. Intact Female   0.01 2.02 2.15
29. Intact Female   0.00 2.08 2.14
30. Unknown   0.00 2.11 2.13
31. Spayed Female   0.00 2.14 2.11
32. Spayed Female   0.00 2.12 2.12
33. Spayed Female   0.00 2.11 2.12
34. Neutered Male   0.01 2.09 2.13
35. Intact Male   0.00 2.07 2.14
36. Spayed Female   0.00 2.11 2.12
37. Spayed Female   0.01 2.09 2.13
38. Neutered Male   0.01 2.07 2.13
39. Intact Male   0.01 2.06 2.14
40. Unknown   0.01 2.09 2.12
41. Spayed Female   0.01 2.12 2.10
42. Spayed Female   0.01 2.10 2.11
43. Neutered Male   0.02 2.08 2.12
44. Neutered Male   0.02 2.08 2.13
45. Spayed Female   0.01 2.07 2.14
46. Intact Female   0.02 2.05 2.14
47. Spayed Female   0.01 2.08 2.13
48. Neutered Male   0.02 2.07 2.14
49. Intact Female   0.01 2.06 2.15
50. Intact Female   0.01 2.08 2.14
51. Neutered Male   0.01 2.10 2.13
52. Neutered Male   0.01 2.09 2.14
53. Spayed Female   0.00 2.09 2.15
54. Neutered Male   0.01 2.07 2.16
55. Intact Female   0.01 2.07 2.17
56. Intact Male   0.01 2.08 2.15
57. Neutered Male   0.01 2.10 2.13
58. Spayed Female   0.01 2.09 2.14
59. Spayed Female   0.01 2.08 2.15
60. Intact Male   0.01 2.07 2.16
61. Intact Female   0.01 2.09 2.13
62. Spayed Female   0.02 2.11 2.10
63. Neutered Male   0.02 2.10 2.11
64. Neutered Male   0.02 2.09 2.13
65. Spayed Female   0.02 2.08 2.14
66. Neutered Male   0.02 2.07 2.15
67. Unknown   0.02 2.07 2.17
68. Intact Male   0.01 2.09 2.16
69. Unknown   0.01 2.11 2.11
70. Spayed Female   0.01 2.12 2.09
71. Intact Female   0.01 2.12 2.10
72. Spayed Female   0.01 2.13 2.06
73. Intact Male   0.01 2.12 2.07
74. Neutered Male   0.03 2.13 1.99
75. Neutered Male   0.02 2.13 2.02
76. Intact Female   0.02 2.12 2.05
77. Neutered Male   0.02 2.13 1.99
78. Unknown   0.02 2.12 2.02
79. Spayed Female   0.01 2.14 1.99
80. Intact Male   0.01 2.13 2.01
81. Spayed Female   0.04 2.15 1.81
82. Unknown   0.04 2.14 1.82
83. Spayed Female   0.04 2.15 1.76
84. Intact Female   0.04 2.14 1.75
85. Neutered Male   0.04 2.15 1.64
86. Neutered Male   0.04 2.15 1.69
87. Spayed Female   0.03 2.14 1.74
88. Neutered Male   0.03 2.14 1.73
89. Neutered Male   0.03 2.13 1.79
90. Neutered Male   0.02 2.13 1.85
91. Neutered Male   0.02 2.12 1.89
92. Unknown   0.02 2.12 1.91
93. Unknown   0.01 2.13 1.84
94. Neutered Male   0.02 2.14 1.46
95. Spayed Female   0.03 2.13 1.37
96. Intact Female   0.02 2.13 1.50
97. Spayed Female   0.02 2.14 0.92
98. Neutered Male   0.01 2.13 1.00
99. Spayed Female   0.02 2.13 0.00

In [30]:
test_H(HEntropy, data['age_upon_outcome'])

#     l     IG   Hl   Hr
------------------------
 1. 1 year   0.05 0.00 3.89
 2. 1 year   0.06 1.00 3.90
 3. 9 years   0.08 0.92 3.92
 4. 5 months   0.12 1.50 3.87
 5. 4 months   0.14 1.92 3.86
 6. 1 year   0.15 2.25 3.85
 7. 3 years   0.16 2.13 3.87
 8. 1 month   0.15 2.41 3.87
 9. 3 months   0.16 2.64 3.86
10. 1 year   0.15 2.85 3.86
11. 2 years   0.16 2.73 3.87
12. 2 months   0.13 2.92 3.89
13. 4 years   0.11 3.09 3.90
14. 8 years   0.11 3.24 3.89
15. 2 years   0.14 3.37 3.84
16. 1 year   0.13 3.38 3.85
17. 3 weeks   0.14 3.29 3.87
18. 2 months   0.13 3.41 3.85
19. 2 months   0.12 3.43 3.87
20. 8 months   0.12 3.40 3.88
21. 5 months   0.14 3.52 3.83
22. 2 years   0.16 3.53 3.81
23. 2 months   0.15 3.52 3.82
24. 1 year   0.16 3.49 3.83
25. 1 year   0.16 3.43 3.85
26. 4 months   0.17 3.38 3.86
27. 2 months   0.17 3.41 3.86
28. 4 months   0.17 3.38 3.87
29. 2 months   0.19 3.38 3.86
30. 2 weeks   0.19 3.35 3.87
31. 2 months   0.20 3.38 3.84
32. 3 months   0.21 3.35 3.85
33. 3 months   0.20 3.38 3.86
34. 12 years   0.21 3.39 3.85
35. 3 weeks   0.22 3.48 3.80
36. 2 years   0.22 3.52 3.77
37. 4 years   0.22 3.51 3.79
38. 3 years   0.22 3.54 3.77
39. 1 year   0.21 3.57 3.78
40. 1 year   0.21 3.54 3.80
41. 4 years   0.21 3.51 3.82
42. 3 months   0.24 3.52 3.76
43. 2 years   0.25 3.53 3.75
44. 7 years   0.24 3.52 3.77
45. 3 years   0.24 3.60 3.71
46. 1 month   0.23 3.61 3.72
47. 2 years   0.24 3.64 3.70
48. 1 year   0.23 3.63 3.72
49. 1 year   0.23 3.60 3.74
50. 2 years   0.24 3.57 3.76
51. 2 months   0.24 3.56 3.78
52. 5 years   0.24 3.55 3.80
53. 6 years   0.24 3.62 3.73
54. 3 years   0.21 3.68 3.70
55. 3 years   0.20 3.69 3.72
56. 5 days   0.20 3.69 3.72
57. 2 years   0.20 3.75 3.65
58. 1 year   0.20 3.73 3.67
59. 10 months   0.20 3.71 3.70
60. 4 weeks   0.19 3.77 3.62
61. 3 months   0.16 3.83 3.61
62. 10 years   0.16 3.83 3.60
63. 4 months   0.13 3.89 3.57
64. 1 year   0.14 3.89 3.54
65. 5 months   0.14 3.87 3.57
66. 2 years   0.16 3.88 3.48
67. 1 year   0.16 3.87 3.51
68. 2 months   0.16 3.84 3.53
69. 4 weeks   0.16 3.83 3.56
70. 1 year   0.14 3.86 3.53
71. 2 months   0.15 3.83 3.55
72. 3 years   0.15 3.82 3.58
73. 4 weeks   0.14 3.82 3.60
74. 6 years   0.16 3.83 3.50
75. 2 years   0.16 3.86 3.40
76. 2 days   0.15 3.85 3.44
77. 2 years   0.14 3.90 3.33
78. 2 weeks   0.14 3.88 3.36
79. 2 months   0.14 3.90 3.24
80. 3 weeks   0.14 3.89 3.27
81. 2 months   0.15 3.90 3.14
82. 3 years   0.15 3.89 3.16
83. 3 months   0.14 3.88 3.18
84. 1 month   0.14 3.89 3.16
85. 3 years   0.14 3.90 3.01
86. 2 years   0.14 3.89 2.99
87. 2 months   0.13 3.88 3.03
88. 4 months   0.13 3.87 3.02
89. 10 years   0.14 3.88 2.85
90. 6 months   0.13 3.90 2.65
91. 3 months   0.10 3.94 2.42
92. 1 year   0.11 3.94 2.16
93. 1 year   0.10 3.93 2.24
94. 3 years   0.09 3.91 2.25
95. 14 years   0.10 3.91 1.92
96. 2 years   0.05 3.95 1.50
97. 1 year   0.03 3.94 1.58
98. 2 years   0.04 3.93 1.00
99. 2 months   0.03 3.91 0.00

In [37]:
test_H(HEntropy, data['animal_type'])

#     l     IG   Hl   Hr
------------------------
 1. Dog   0.01 0.00 1.32
 2. Dog   0.00 1.00 1.32
 3. Dog   0.00 0.92 1.33
 4. Other   0.01 0.81 1.33
 5. Dog   0.01 1.37 1.31
 6. Other   0.01 1.25 1.31
 7. Dog   0.02 1.38 1.29
 8. Cat   0.03 1.30 1.29
 9. Cat   0.01 1.44 1.29
10. Cat   0.01 1.49 1.29
11. Dog   0.01 1.49 1.29
12. Dog   0.01 1.46 1.29
13. Dog   0.01 1.42 1.30
14. Dog   0.01 1.38 1.30
15. Dog   0.01 1.34 1.31
16. Dog   0.01 1.30 1.31
17. Cat   0.01 1.26 1.32
18. Dog   0.00 1.30 1.32
19. Cat   0.01 1.27 1.32
20. Cat   0.00 1.30 1.32
21. Cat   0.00 1.31 1.32
22. Dog   0.00 1.32 1.32
23. Cat   0.00 1.30 1.32
24. Cat   0.00 1.31 1.32
25. Dog   0.00 1.31 1.32
26. Dog   0.00 1.30 1.32
27. Dog   0.00 1.28 1.33
28. Dog   0.00 1.26 1.34
29. Cat   0.00 1.25 1.34
30. Cat   0.00 1.26 1.34
31. Cat   0.00 1.26 1.34
32. Dog   0.01 1.26 1.34
33. Cat   0.00 1.25 1.34
34. Dog   0.01 1.25 1.34
35. Cat   0.01 1.24 1.35
36. Dog   0.01 1.24 1.34
37. Dog   0.01 1.24 1.35
38. Cat   0.01 1.23 1.36
39. Dog   0.01 1.23 1.36
40. Other   0.01 1.22 1.36
41. Cat   0.00 1.29 1.33
42. Dog   0.01 1.29 1.33
43. Cat   0.00 1.28 1.34
44. Cat   0.01 1.28 1.33
45. Dog   0.01 1.28 1.33
46. Cat   0.01 1.27 1.34
47. Dog   0.01 1.27 1.33
48. Dog   0.01 1.27 1.34
49. Cat   0.01 1.26 1.35
50. Cat   0.02 1.26 1.34
51. Cat   0.02 1.26 1.34
52. Dog   0.03 1.26 1.32
53. Dog   0.03 1.25 1.34
54. Dog   0.02 1.25 1.35
55. Dog   0.02 1.24 1.36
56. Dog   0.02 1.24 1.38
57. Dog   0.02 1.23 1.39
58. Dog   0.02 1.22 1.40
59. Dog   0.02 1.22 1.41
60. Cat   0.02 1.21 1.43
61. Cat   0.02 1.21 1.42
62. Dog   0.03 1.22 1.41
63. Dog   0.03 1.21 1.43
64. Dog   0.03 1.20 1.44
65. Dog   0.03 1.20 1.45
66. Dog   0.03 1.19 1.47
67. Other   0.03 1.19 1.48
68. Dog   0.02 1.23 1.45
69. Other   0.02 1.22 1.46
70. Cat   0.01 1.26 1.42
71. Cat   0.01 1.27 1.42
72. Dog   0.01 1.27 1.41
73. Dog   0.01 1.26 1.43
74. Cat   0.01 1.26 1.45
75. Dog   0.01 1.26 1.44
76. Dog   0.01 1.25 1.46
77. Cat   0.02 1.25 1.48
78. Cat   0.02 1.25 1.47
79. Dog   0.02 1.25 1.46
80. Cat   0.02 1.25 1.49
81. Cat   0.03 1.25 1.47
82. Other   0.03 1.25 1.44
83. Cat   0.02 1.28 1.38
84. Dog   0.03 1.28 1.33
85. Dog   0.02 1.28 1.37
86. Cat   0.02 1.27 1.41
87. Dog   0.03 1.28 1.33
88. Cat   0.03 1.27 1.38
89. Dog   0.05 1.27 1.24
90. Dog   0.05 1.27 1.30
91. Dog   0.05 1.26 1.35
92. Other   0.05 1.26 1.41
93. Other   0.02 1.29 1.38
94. Dog   0.01 1.31 1.25
95. Dog   0.01 1.31 1.37
96. Other   0.01 1.30 1.50
97. Dog   0.00 1.33 0.92
98. Dog   0.00 1.32 1.00
99. Cat   0.01 1.32 0.00

In [21]:
test_H(HEntropy, data['breed'])

#     l     IG   Hl   Hr
------------------------
 1. Beagle Mix   0.02 0.00 4.51
 2. Pit Bull   0.06 1.00 4.49
 3. Miniature Schnauzer Mix   0.11 1.58 4.46
 4. Bat Mix   0.14 2.00 4.44
 5. Leonberger Mix   0.16 2.32 4.43
 6. Squirrel Mix   0.21 2.58 4.39
 7. Chihuahua Shorthair Mix   0.24 2.81 4.35
 8. Domestic Shorthair Mix   0.24 3.00 4.36
 9. Domestic Shorthair Mix   0.23 2.95 4.38
10. Domestic Medium Hair Mix   0.23 2.85 4.41
11. Papillon/Border Collie   0.22 3.03 4.41
12. Chihuahua Shorthair/Pomeranian   0.25 3.19 4.37
13. Miniature Schnauzer/Miniature Poodle   0.28 3.33 4.33
14. Labrador Retriever Mix   0.31 3.47 4.29
15. Rat Terrier Mix   0.30 3.59 4.30
16. Pit Bull Mix   0.30 3.70 4.28
17. Domestic Shorthair Mix   0.28 3.81 4.28
18. German Shepherd/Labrador Retriever   0.28 3.73 4.31
19. Domestic Shorthair Mix   0.30 3.83 4.27
20. Domestic Shorthair Mix   0.30 3.74 4.30
21. Domestic Shorthair Mix   0.30 3.65 4.33
22. Beagle Mix   0.30 3.57 4.36
23. Domestic Shorthair Mix   0.34 3.58 4.32
24. Domestic Medium Hair Mix   0.34 3.50 4.35
25. Mastiff Mix   0.34 3.52 4.35
26. Plott Hound Mix   0.36 3.62 4.30
27. Labrador Retriever Mix   0.37 3.72 4.26
28. Chihuahua Shorthair Mix   0.37 3.74 4.26
29. Siamese   0.36 3.75 4.27
30. Domestic Shorthair Mix   0.37 3.84 4.23
31. Domestic Shorthair Mix   0.38 3.78 4.26
32. Labrador Retriever Mix   0.38 3.71 4.29
33. Domestic Shorthair Mix   0.38 3.71 4.29
34. Labrador Retriever Mix   0.39 3.65 4.33
35. Domestic Shorthair Mix   0.40 3.64 4.32
36. Chihuahua Shorthair Mix   0.41 3.59 4.36
37. Chihuahua Shorthair Mix   0.40 3.59 4.37
38. Domestic Medium Hair Mix   0.41 3.59 4.38
39. Miniature Pinscher Mix   0.41 3.60 4.38
40. Bat   0.42 3.68 4.33
41. Russian Blue Mix   0.40 3.75 4.32
42. Cardigan Welsh Corgi/English Setter   0.38 3.83 4.30
43. Domestic Shorthair Mix   0.39 3.90 4.25
44. Russian Blue Mix   0.39 3.85 4.29
45. Border Collie Mix   0.41 3.87 4.24
46. Domestic Shorthair Mix   0.39 3.94 4.22
47. Pit Bull Mix   0.40 3.89 4.26
48. Boxer Mix   0.38 3.92 4.28
49. Domestic Medium Hair Mix   0.38 3.98 4.23
50. Domestic Shorthair Mix   0.39 3.98 4.21
51. Domestic Shorthair Mix   0.39 3.94 4.25
52. Parson Russell Terrier Mix   0.40 3.89 4.30
53. Pit Bull Mix   0.39 3.95 4.24
54. Miniature Poodle Mix   0.38 3.96 4.26
55. Pit Bull Mix   0.38 4.02 4.20
56. Pit Bull Mix   0.38 4.02 4.21
57. Miniature Schnauzer Mix   0.38 4.02 4.22
58. Chihuahua Shorthair Mix   0.40 4.04 4.15
59. Australian Shepherd/Australian Cattle Dog   0.40 4.03 4.17
60. Domestic Shorthair Mix   0.39 4.09 4.10
61. Domestic Shorthair Mix   0.39 4.05 4.16
62. Labrador Retriever Mix   0.39 4.01 4.21
63. Basenji/Chihuahua Longhair   0.40 4.01 4.20
64. Chihuahua Shorthair Mix   0.40 4.06 4.13
65. Pit Bull Mix   0.40 4.06 4.14
66. Labrador Retriever   0.41 4.05 4.13
67. Bat Mix   0.40 4.10 4.06
68. Siberian Husky/German Shepherd   0.41 4.12 3.98
69. Bat   0.40 4.17 3.90
70. Domestic Shorthair Mix   0.38 4.19 3.89
71. Domestic Medium Hair Mix   0.38 4.16 3.96
72. Chihuahua Shorthair Mix   0.41 4.16 3.88
73. German Shepherd/Boxer   0.41 4.15 3.87
74. Domestic Shorthair Mix   0.40 4.19 3.78
75. Labrador Retriever/German Shepherd   0.40 4.16 3.86
76. Labrador Retriever Mix   0.38 4.21 3.77
77. Domestic Shorthair Mix   0.40 4.21 3.67
78. Domestic Shorthair Mix   0.40 4.18 3.75
79. Pit Bull Mix   0.40 4.15 3.84
80. Domestic Shorthair Mix   0.42 4.14 3.74
81. Domestic Shorthair Mix   0.43 4.11 3.83
82. Raccoon Mix   0.43 4.08 3.91
83. Domestic Shorthair Mix   0.41 4.13 3.81
84. Chihuahua Shorthair Mix   0.42 4.10 3.88
85. German Shepherd/Chow Chow   0.44 4.09 3.77
86. Domestic Shorthair Mix   0.41 4.14 3.66
87. Pit Bull/Labrador Retriever   0.43 4.11 3.70
88. Domestic Shorthair Mix   0.40 4.15 3.58
89. Yorkshire Terrier Mix   0.43 4.13 3.46
90. Rat Terrier Mix   0.40 4.17 3.32
91. Beagle/Chihuahua Longhair   0.39 4.19 3.17
92. Armadillo Mix   0.35 4.23 3.00
93. Bat   0.32 4.27 2.81
94. Parson Russell Terrier/Chihuahua Shorthair   0.31 4.28 2.58
95. Border Collie Mix   0.27 4.32 2.32
96. Rat   0.24 4.34 2.00
97. German Shepherd Mix   0.19 4.37 1.58
98. Staffordshire   0.14 4.41 1.00
99. Domestic Longhair Mix   0.08 4.45 0.00

In [22]:
test_H(HEntropy, data['color'])

#     l     IG   Hl   Hr
------------------------
 1. White/Brown   0.05 0.00 4.96
 2. Blue/White   0.08 1.00 4.96
 3. White   0.11 1.58 4.95
 4. Brown   0.12 2.00 4.95
 5. Brown/White   0.13 2.32 4.96
 6. Tan   0.15 2.58 4.95
 7. Brown   0.16 2.81 4.95
 8. Blue Tabby/White   0.18 2.75 4.96
 9. White/Black   0.19 2.95 4.95
10. Black/White   0.20 3.12 4.94
11. Black/White   0.18 3.28 4.97
12. Black   0.18 3.25 4.99
13. White   0.16 3.39 5.00
14. Black   0.18 3.38 5.00
15. White/Black   0.19 3.37 5.02
16. Brown Brindle/White   0.21 3.38 5.01
17. Black/White   0.23 3.50 4.97
18. Black/White   0.24 3.46 5.00
19. Brown Tabby   0.25 3.41 5.02
20. Brown Tabby/White   0.22 3.52 5.04
21. Black Tabby   0.22 3.63 5.03
22. Tan/White   0.24 3.73 4.99
23. Orange Tabby   0.23 3.83 4.99
24. Black/White   0.24 3.83 4.99
25. Brown Brindle   0.25 3.78 5.02
26. Brown Brindle/Black   0.27 3.87 4.98
27. Yellow   0.28 3.95 4.94
28. Blue/Tan   0.28 4.04 4.93
29. Seal Point   0.29 4.11 4.90
30. Black   0.30 4.19 4.86
31. Torbie   0.30 4.17 4.87
32. Tan/White   0.29 4.24 4.86
33. Black   0.30 4.25 4.86
34. Black/White   0.31 4.22 4.87
35. Black   0.32 4.17 4.89
36. Buff   0.33 4.14 4.90
37. Red/White   0.32 4.21 4.90
38. Orange Tabby   0.30 4.27 4.89
39. Black/White   0.32 4.26 4.88
40. Black/Brown   0.33 4.22 4.90
41. Blue   0.31 4.28 4.90
42. White/Black   0.30 4.34 4.89
43. Cream Tabby/White   0.33 4.34 4.85
44. Blue   0.33 4.40 4.80
45. Black/White   0.36 4.41 4.76
46. Calico   0.37 4.37 4.78
47. Brown Merle/White   0.35 4.42 4.77
48. Brown   0.35 4.48 4.73
49. Brown Tabby   0.34 4.47 4.75
50. Calico   0.32 4.49 4.78
51. Chocolate   0.34 4.50 4.73
52. White/Brown Brindle   0.34 4.55 4.69
53. Black/White   0.34 4.60 4.64
54. White   0.35 4.56 4.66
55. White/Brown   0.36 4.56 4.65
56. Fawn   0.35 4.57 4.66
57. Black   0.34 4.62 4.61
58. Brown/White   0.35 4.60 4.62
59. Blue Merle/White   0.36 4.61 4.57
60. Brown Tabby   0.36 4.66 4.51
61. Brown Tabby/White   0.34 4.66 4.55
62. Yellow   0.36 4.67 4.49
63. Red/White   0.37 4.68 4.43
64. Buff   0.38 4.69 4.37
65. Blue/White   0.39 4.70 4.31
66. Tan   0.40 4.71 4.24
67. Brown   0.39 4.73 4.23
68. White   0.38 4.72 4.27
69. Brown/Black   0.41 4.71 4.20
70. Torbie   0.39 4.75 4.12
71. Brown Tabby   0.40 4.77 4.05
72. Brown   0.39 4.76 4.08
73. Sable   0.38 4.75 4.11
74. Blue Tabby/White   0.37 4.79 4.03
75. Black/Brown   0.37 4.80 3.94
76. Cream   0.38 4.81 3.86
77. Black/White   0.36 4.85 3.76
78. Black/White   0.36 4.83 3.79
79. White/Tan   0.37 4.80 3.78
80. Orange Tabby   0.35 4.84 3.68
81. Brown Tabby   0.36 4.83 3.58
82. Black/Gray   0.35 4.83 3.61
83. Brown Tabby   0.33 4.86 3.50
84. Black/Tan   0.32 4.85 3.50
85. Tan   0.28 4.89 3.51
86. Blue Tabby   0.28 4.89 3.38
87. Black   0.25 4.92 3.24
88. Black   0.25 4.91 3.25
89. Black/Tan   0.26 4.90 3.10
90. White/Brown   0.25 4.91 2.92
91. Brown   0.22 4.91 2.95
92. Gray   0.21 4.90 3.00
93. Brown   0.17 4.93 2.81
94. White/Brown   0.18 4.92 2.58
95. White/Tricolor   0.17 4.92 2.32
96. Black/White   0.12 4.95 2.00
97. Tan/White   0.13 4.93 1.58
98. Fawn/White   0.10 4.94 1.00
99. Brown Tabby   0.04 4.97 0.00

In [31]:
test_H(HEntropy, data['outcome_type'])

#     l     IG   Hl   Hr
------------------------
 1. Transfer   0.01 0.00 1.85
 2. Adoption   0.03 0.00 1.85
 3. Transfer   0.02 0.92 1.85
 4. Euthanasia   0.02 0.81 1.86
 5. Transfer   0.02 1.37 1.85
 6. Euthanasia   0.03 1.25 1.85
 7. Transfer   0.04 1.38 1.84
 8. Adoption   0.04 1.30 1.84
 9. Adoption   0.03 1.44 1.85
10. Return to Owner   0.02 1.49 1.85
11. Transfer   0.01 1.79 1.84
12. Adoption   0.01 1.73 1.84
13. Return to Owner   0.01 1.74 1.85
14. Return to Owner   0.01 1.84 1.83
15. Transfer   0.02 1.89 1.81
16. Transfer   0.02 1.85 1.82
17. Transfer   0.02 1.81 1.82
18. Adoption   0.03 1.77 1.82
19. Adoption   0.02 1.78 1.83
20. Transfer   0.02 1.78 1.84
21. Adoption   0.02 1.75 1.84
22. Adoption   0.02 1.75 1.85
23. Adoption   0.01 1.74 1.86
24. Transfer   0.01 1.73 1.86
25. Adoption   0.01 1.71 1.87
26. Transfer   0.01 1.70 1.87
27. Adoption   0.02 1.68 1.88
28. Transfer   0.02 1.67 1.89
29. Transfer   0.02 1.65 1.89
30. Transfer   0.02 1.64 1.90
31. Adoption   0.03 1.62 1.90
32. Adoption   0.03 1.61 1.91
33. Adoption   0.03 1.61 1.92
34. Adoption   0.03 1.60 1.92
35. Transfer   0.03 1.59 1.93
36. Adoption   0.03 1.58 1.94
37. Adoption   0.04 1.57 1.95
38. Died   0.04 1.56 1.95
39. Transfer   0.05 1.69 1.86
40. Euthanasia   0.05 1.68 1.87
41. Adoption   0.03 1.74 1.86
42. Adoption   0.04 1.72 1.87
43. Transfer   0.04 1.71 1.87
44. Adoption   0.04 1.70 1.88
45. Adoption   0.04 1.69 1.89
46. Transfer   0.05 1.68 1.89
47. Transfer   0.05 1.67 1.90
48. Return to Owner   0.05 1.66 1.90
49. Transfer   0.04 1.71 1.88
50. Transfer   0.05 1.70 1.89
51. Transfer   0.05 1.69 1.89
52. Adoption   0.06 1.68 1.90
53. Euthanasia   0.06 1.67 1.91
54. Adoption   0.04 1.72 1.90
55. Return to Owner   0.04 1.71 1.91
56. Transfer   0.04 1.74 1.88
57. Return to Owner   0.04 1.73 1.89
58. Adoption   0.04 1.76 1.85
59. Adoption   0.04 1.75 1.86
60. Transfer   0.04 1.75 1.87
61. Transfer   0.05 1.74 1.88
62. Return to Owner   0.05 1.73 1.88
63. Transfer   0.05 1.76 1.84
64. Adoption   0.06 1.75 1.84
65. Transfer   0.06 1.74 1.85
66. Return to Owner   0.07 1.73 1.85
67. Euthanasia   0.07 1.76 1.80
68. Transfer   0.05 1.79 1.79
69. Euthanasia   0.06 1.78 1.79
70. Adoption   0.04 1.81 1.78
71. Euthanasia   0.04 1.80 1.80
72. Adoption   0.03 1.82 1.79
73. Transfer   0.03 1.82 1.81
74. Return to Owner   0.03 1.81 1.81
75. Adoption   0.04 1.83 1.72
76. Transfer   0.04 1.82 1.74
77. Transfer   0.04 1.82 1.73
78. Euthanasia   0.05 1.81 1.72
79. Adoption   0.04 1.83 1.70
80. Transfer   0.03 1.83 1.73
81. Adoption   0.04 1.82 1.71
82. Euthanasia   0.04 1.81 1.75
83. Adoption   0.03 1.83 1.73
84. Adoption   0.02 1.83 1.77
85. Adoption   0.02 1.82 1.81
86. Transfer   0.02 1.82 1.84
87. Adoption   0.03 1.81 1.83
88. Adoption   0.03 1.81 1.86
89. Transfer   0.03 1.80 1.87
90. Adoption   0.04 1.80 1.85
91. Adoption   0.05 1.79 1.84
92. Euthanasia   0.06 1.78 1.75
93. Euthanasia   0.04 1.80 1.84
94. Return to Owner   0.02 1.81 1.92
95. Euthanasia   0.03 1.83 1.52
96. Transfer   0.01 1.84 1.50
97. Transfer   0.01 1.84 1.58
98. Euthanasia   0.02 1.84 1.00
99. Adoption   0.01 1.85 0.00

In [24]:
data.head()

  age_upon_outcome animal_id  ... outcome_type sex_upon_outcome
0          2 weeks   A684346  ...     Transfer      Intact Male
1           1 year   A666430  ...     Transfer    Spayed Female
2           1 year   A675708  ...     Adoption    Neutered Male
3          9 years   A680386  ...     Transfer    Neutered Male
4         5 months   A683115  ...   Euthanasia          Unknown

[5 rows x 12 columns]

In [0]:
new = data['outcome_type']

In [34]:
new.unique()

array(['Transfer', 'Adoption', 'Euthanasia', 'Return to Owner', 'Died'],
      dtype=object)

In [0]:
new.replace(['Transfer', 'Adoption', 'Euthanasia', 'Return to Owner', 'Died'], [1, 2, 3, 4, 5], inplace=True)

In [50]:
new

0     1
1     1
2     2
3     1
4     3
     ..
95    3
96    1
97    1
98    3
99    2
Name: outcome_type, Length: 100, dtype: int64

In [51]:
test_H(HEntropy, new)

#     l     IG   Hl   Hr
------------------------
 1.   1   0.01 0.00 1.85
 2.   2   0.03 0.00 1.85
 3.   1   0.02 0.92 1.85
 4.   3   0.02 0.81 1.86
 5.   1   0.02 1.37 1.85
 6.   3   0.03 1.25 1.85
 7.   1   0.04 1.38 1.84
 8.   2   0.04 1.30 1.84
 9.   2   0.03 1.44 1.85
10.   4   0.02 1.49 1.85
11.   1   0.01 1.79 1.84
12.   2   0.01 1.73 1.84
13.   4   0.01 1.74 1.85
14.   4   0.01 1.84 1.83
15.   1   0.02 1.89 1.81
16.   1   0.02 1.85 1.82
17.   1   0.02 1.81 1.82
18.   2   0.03 1.77 1.82
19.   2   0.02 1.78 1.83
20.   1   0.02 1.78 1.84
21.   2   0.02 1.75 1.84
22.   2   0.02 1.75 1.85
23.   2   0.01 1.74 1.86
24.   1   0.01 1.73 1.86
25.   2   0.01 1.71 1.87
26.   1   0.01 1.70 1.87
27.   2   0.02 1.68 1.88
28.   1   0.02 1.67 1.89
29.   1   0.02 1.65 1.89
30.   1   0.02 1.64 1.90
31.   2   0.03 1.62 1.90
32.   2   0.03 1.61 1.91
33.   2   0.03 1.61 1.92
34.   2   0.03 1.60 1.92
35.   1   0.03 1.59 1.93
36.   2   0.03 1.58 1.94
37.   2   0.04 1.57 1.95
38.   5   0.04 1.56 1.95
39.   1   0.05 1.69 1.86
40.   3   0.05 1.68 1.87
41.   2   0.03 1.74 1.86
42.   2   0.04 1.72 1.87
43.   1   0.04 1.71 1.87
44.   2   0.04 1.70 1.88
45.   2   0.04 1.69 1.89
46.   1   0.05 1.68 1.89
47.   1   0.05 1.67 1.90
48.   4   0.05 1.66 1.90
49.   1   0.04 1.71 1.88
50.   1   0.05 1.70 1.89
51.   1   0.05 1.69 1.89
52.   2   0.06 1.68 1.90
53.   3   0.06 1.67 1.91
54.   2   0.04 1.72 1.90
55.   4   0.04 1.71 1.91
56.   1   0.04 1.74 1.88
57.   4   0.04 1.73 1.89
58.   2   0.04 1.76 1.85
59.   2   0.04 1.75 1.86
60.   1   0.04 1.75 1.87
61.   1   0.05 1.74 1.88
62.   4   0.05 1.73 1.88
63.   1   0.05 1.76 1.84
64.   2   0.06 1.75 1.84
65.   1   0.06 1.74 1.85
66.   4   0.07 1.73 1.85
67.   3   0.07 1.76 1.80
68.   1   0.05 1.79 1.79
69.   3   0.06 1.78 1.79
70.   2   0.04 1.81 1.78
71.   3   0.04 1.80 1.80
72.   2   0.03 1.82 1.79
73.   1   0.03 1.82 1.81
74.   4   0.03 1.81 1.81
75.   2   0.04 1.83 1.72
76.   1   0.04 1.82 1.74
77.   1   0.04 1.82 1.73
78.   3   0.05 1.81 1.72
79.   2   0.04 1.83 1.70
80.   1   0.03 1.83 1.73
81.   2   0.04 1.82 1.71
82.   3   0.04 1.81 1.75
83.   2   0.03 1.83 1.73
84.   2   0.02 1.83 1.77
85.   2   0.02 1.82 1.81
86.   1   0.02 1.82 1.84
87.   2   0.03 1.81 1.83
88.   2   0.03 1.81 1.86
89.   1   0.03 1.80 1.87
90.   2   0.04 1.80 1.85
91.   2   0.05 1.79 1.84
92.   3   0.06 1.78 1.75
93.   3   0.04 1.80 1.84
94.   4   0.02 1.81 1.92
95.   3   0.03 1.83 1.52
96.   1   0.01 1.84 1.50
97.   1   0.01 1.84 1.58
98.   3   0.02 1.84 1.00
99.   2   0.01 1.85 0.00