In [18]:
# Задание 1
# Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. 
# Определите какому фильму было выставлено больше всего оценок 5.0. userId	movieId	rating	timestamp
import pandas as pd
data = pd.read_csv('ratings.csv')
movie_stats = data.filter(items = ['movieId', 'rating'])
rating5 = movie_stats[ movie_stats.rating == 5 ]
rating5['movieId'].value_counts().head()

318     153
296     123
356     116
2571    109
260     104
Name: movieId, dtype: int64

In [104]:
# Задание 2 Lithuania Latvia Estonia
# По данным файла power.csv посчитайте суммарное потребление стран 
# Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. 
# Не учитывайте в расчетах отрицательные значения quantity.
countries = pd.read_csv('power.csv')
filtered_countries = countries[ ((countries['country']=='Latvia') & (countries['year'] >= 2005) & (countries['year'] <= 2010) & (countries['quantity'] >= 0) & ((countries['category'] == 4) | (countries['category'] == 12) | (countries['category'] == 21))) | ((countries['country']=='Lithuania') & (countries['year'] >= 2005) & (countries['year'] <= 2010) & (countries['quantity'] >= 0) &((countries['category'] == 4) | (countries['category'] == 12) | (countries['category'] == 21))) | ((countries['country']=='Estonia') & (countries['year'] >= 2005) & (countries['year'] <= 2010) & (countries['quantity'] >= 0) & ((countries['category'] == 4) | (countries['category'] == 12) | (countries['category'] == 21))) ]
filtered_countries['quantity'].sum()
# filtered_cuntories

240580.0

In [117]:
# Задание 3
# Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
# Примеры страниц (необязательно брать именно эти):
# https://fortrader.org/quotes
# https://www.finanz.ru/valyuty/v-realnom-vremen
# page_url = 'https://fortrader.org/quotes'
dataframe = pd.read_html('https://fortrader.org/quotes')
# dataframe = pd.read_html(page_url, attrs = {'class': 'table'}, encoding='utf-8')
dataframe[3]

                                Type    Last   Chg.  Chg.%  Time
0               Яндекс Акции яндекса   34.18   0.15   0.44   NaN
1          Microsoft Microsoft Corp.  145.74   1.81   1.26   NaN
2                  APPLE Акции APPLE  259.94   1.13   0.44   NaN
3                Toyota Акции Тойоты  120.94   0.00   0.00   NaN
4   Volkswagen Курс акций Volkswagen  180.42  -1.48  -0.81   NaN
5       Facebook Цена акций Facebook  190.44   0.62   0.33   NaN
6          Tesla Цены на акции Тесла  336.55   1.11   0.33   NaN
7          Twiter Цена акций твитера   29.19   0.22   0.76   NaN
8  Hasbro Цена на акции Hasbro, Inc.   95.47  10.60  12.49   NaN